body {
  background-color:#fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  text-align:center;
  color:#222;
  padding: 120px 0;
}
h1 {
  font-size:80px;
  line-height:0px;
  margin-bottom:24px;
}
h2 {
  font-size:64px;
  margin:0;
}
h3 {
    font-size:32px;
}
img.head {
  padding:24px;
}
a {
    color:#222;
}
p {
  font-size:20px;
}
hr {
  background-color:#ddd;
  height:1px;
  border:0px;
}
.content {
  background-color:#fff;
  padding:0;
  position: relative;
  width: 700px;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  display: inline-block;
  position: relative;
}
ul.img-list li {
  margin:4px;
  float:left;
}
span.text-content span {
  display: table-cell;
  vertical-align: middle;
}
ul.img-list li:hover span.text-content {
  opacity: 0.9;
}
span.text-content {
  background: rgba(0,0,0,0.7);
  color: #fff;
  font-size:30px;
  cursor: pointer;
  display: table;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height:342px;
  opacity: 0;
  text-align:center;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
